<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnStr" value="Provider=SQLNCLI;Server=localhost\sql2005;Database=efc;UID=bb;PWD=bb" />
    <!-- mysql connections -->
    <!--
    <add key="ConnStr" value="Initial Catalog=efc;Data Source=LOCAL\SQL2005;User Id =bb;Password=bb" />
    <add key="ConnStr" value="#EasyMySql | server=localhost;user id=; password=; database=test; pooling=false" />
    <add key="ConnStr" value="DRIVER={MySQL ODBC 3.51 Driver};SERVER=localhost;DATABASE=test;USER=;PASSWORD=;OPTION=3;" />
    <add key="ConnStr" value="STMT=;OPTION=3;DSN=test;UID=;DESC=MySQL ODBC 3.51 Driver DSN;DATABASE=efc;SERVER=localhost;PORT=3306" />
	-->
    <add key="CompanyName" value="Copyright © 2004 - 2007 Easychart Inc." />
    <add key="URL" value="http://finance.easychart.net" />
    <add key="SymbolParameterName" value="Symbol" />
    <add key="EnableStreaming" value="0" />
    
    <add key="EnableAutoService" value="0" /> 
    
    <!-- Water Mart Text , Empty text will not show the water mark-->
    <add key="WaterMarkText" value="" />
    <!-- Water Mart Font --> 
    <add key="WaterMarkFont" value="Verdana, 60pt" />
    <!-- Water Mart Color, First two byte is alpha value-->
    <add key="WaterMarkColor" value="#44888888" />

    <add key="DefaultExchange" value="TASI" />
    
    <!-- 
		System will run Service1-Service9 automatically everyday at the specified time
	-->
    <add key="Service1" value="WebDemos.Admin.DataFeeds.ImportEod(Easychart.Finance.DataClient.EasyChartDataClient,11,11,AMEX;Nasdaq;Nyse;^),19:10(-4)" />
    <add key="ServiceA1" value="WebDemos.Admin.UpdateFormulaValue.UpdateFormula,19:10(-4)" />
    <add key="ServiceA2" value="WebDemos.Admin.UpdatePreScan.PreScan,19:10(-4)" />
    <!-- None,StockOnly,All -->
    <add key="LatestValueType" value="StockOnly">
    </add>
    <!-- Hours -->
    <add key="ScanCacheTime" value="0" />
    <add key="KeepLatestScanResultOnly" value="1" />
    <add key="MarketOpen" value="9" />
    <add key="MarketClose" value="18" />
    <add key="ActiveInterval" value="100" />
    <!--
	 Formulas seperated by semicolon.
	 In each formula, if there is a equal mark, the part before equal mark will be used as the formulas name, the part after is the real formula.
	 because each formula have many lines in it. the [] specify which line will be used. if no [] specified , the last line will be used.
     -->
    <add key="AutoPullFormulaData" value="NAME=NAME;MA13=MA(13);MA50=MA(50);MA200=MA(200);ATR10=ATR(10)[ATR];RSI14=RSI(14);MACD=MACD[MACD];MACD-R1=RefIndi(MACD[DIFF],1);RSI-R1=RefIndi(RSI(14),1);Yesterday=RefIndi(Scan.ATRStat(10,10,1),1)" />
    <add key="MaxDataForPull" value="300" />
    <!--
     User name and Password of administrator area
     -->
    <add key="AdminUserName" value="1" />
    <add key="AdminPassword" value="1" />
    <add key="DefaultChartWidth" value="640" />
    <!--
    SingleLine,ThickLine,Column,ThickColumn
    -->
    <add key="StickRenderType" value="Column" />
    <!--0 : Never 
         1 : Always include today's quote
         2 : Prompt
         3 : Always prompt
         4 : Include today's quote when market open
     -->
    <add key="IncludeTodayQuote" value="2" />
    <add key="DefaultSkin" value="RedWhite" />
    <add key="ParameterDefWidth" value="60" />
    <add key="PreScanFormula" value="New 52-week High=NewHigh(260);New 52-week Low=NewLow(260);Strong Volume Gainers=SVG(4,20);Strong Volume Decliners=SVD(4,20);Bullish 13/50 MA Crossover=MCU(13,50);Bearish 13/50 MA Crossover=MCD(13,50);Bullish 50/200 MA Crossover=MCU(50,200);Bearish 50-200 MA Crossover=MCD(50,200);Moved Above Upper Bollinger Band=AUBB(20);Moved Below Lower Bollinger Band=BLBB(20);Stocks in a New Uptrend (ADX)=ADXU(14,20);Stocks in a New Downtrend (ADX)=ADXD(14,20);Gap Ups=GU(2.5);Gap Downs=GD(2.5);Island Tops=IT(2.5);Island Bottoms=IB(2.5);Bullish Engulfing=BullE;Piercing Line=PL;Bullish Harami=BullH;Bearish Engulfing=BearE;Bearish Harami=BearH;Three Black Crows=TBC;Rising Three Methods=RTM;Falling Three Methods=FTM;Dragonfly Doji=DDoji;Gravestone Doji=GDoji;Hammer" />
    <add key="PreScanExchange" value="NASDAQ;NYSE;AMEX" />
    <add key="ConvertQueryToCookie" value="1" />
    <add key="AutoYahooToDB" value="1" />
    <!-- CustomChart -->
    <add key="MinOverlay" value="5" />
    <add key="MinIndicator" value="3" />
    <add key="DatePicker.StartYear" value="1896" />
    <!-- formula path, reletive to bin folder -->
    <add key="PluginsDir" value="..\formula" />
    <!-- For CSVDataManager -->
    <add key="CSVExt" value=".hst" />
    <add key="CSVDataPath" value="data\history\" />
    <!-- For CustomChart.aspx  default is DB , CSV/DB/Yahoo -->
    <add key="CustomChartDataManager" value="DB" />
    <!-- For WebChart.aspx  default is Yahoo, CSV/DB/Yahoo -->
    <add key="WebChartDataManager" value="Yahoo" />
    <!-- For Gallery.aspx  default is DB, CSV/DB/Yahoo -->
    <add key="GalleryDataManager" value="DB" />
    <!-- For BackTesting.aspx,CustomLabel.aspx default is DB, CSV/DB/Yahoo -->
    <add key="DefaultDataManager" value="Yahoo"/>
    <!-- For Intraday.aspx default is Intra, CSV/DB/Yahoo -->
    <add key="IntraDataManager" value="Intra" />
    <!--
    <add key="YAxisFormat" value="f2" />
    //-->
    <add key="ShowXAxisInLastArea" value="0" />
    <add key="ShowMainAreaLineX" value="1" />
    <add key="ShowMainAreaLineY" value="1" />
    <add key="MaxDataForPull" value="300" />
    <!-- Convert Symbols to UpperCase or LowerCase , Upper/Lower/-->
    <add key="SymbolCase" value="Upper" />
    <!-- Gif/Png/Jpeg -->
    <add key="ImageFormat" value="Gif" />
    <add key="GifColors" value="255" />
    <add key="TransparentColor" value="#F0F0F0" /> 
    <!-- Intraday configs 
    ^DJI;^IXIC;^SPX;^SSEC(China);^FCHI(France);^AORD(ASX);MSFT
    -->
    <add key="IntradaySymbols" value="^DJI;^IXIC;^SPX;^SSEC(China);^FCHI(France);^AORD(ASX);MSFT" />
    <add key="IntradayIndicators" value="VOLMA;SlowSTO;MACD" />
    <add key="IntradayShowCycle" value="0" />
    <add key="IntradayGallerySize" value="220*160" />
    <add key="IntradayPopup" value="0" />
    <add key="IntradaySkin" value="RedWhite" />
    <add key="IntradayDefaultSize" value="640*480" />
    <!-- seconds -->
    <add key="IntradayCacheTime" value="300" />
    <!-- if save the binary data in ServiceDataManager -->
    <add key="SaveInServerDataManager" value="1" />
    <!-- Layout -->
    <add key="LayoutForCustomChart" value="2Line;Default;Price;HisDate">
    </add>
    <add key="LayoutForIntraday" value="Intra;IntraDate">
    </add>
    <add key="LayoutForSmall" value="Small;IntraDate">
    </add>
    <add key="DefaultLayout" value="ChartRect=(0,14,-1,-16);Font=(Verdana,8pt,style=Bold);Color=WhiteSmoke;Back=(0,0,0,14);Back=(0,-15,-1,-1);Color=Black;Pos=(0,0);Text=({Name}({Code}));Font=(Verdana,8pt);Text=(  {Time});Pos=(0,-2);Text={Company};Pos=(-1,-2);Text={URL}">
    </add>
    <add key="2LineLayout" value="ChartRect=(0,32,-1,-16);Color=WhiteSmoke;Back=(0,14,0,32)">
    </add>
    <add key="PriceLayout" value="Pos=(0,16);Font=(Verdana,8pt,style=Bold);ColorFont=(Verdana,8pt);ColorText=Prev Close:{LC}O:{OPEN}H:{HIGH}L:{LOW}C:{CLOSE}V:{VOLUME}Chg:{Change}">
    </add>
    <add key="HisDateLayout" value="Pos=(-1,0);Text={D}">
    </add>
    <add key="IntraDateLayout" value="Pos=(-1,0);Text={D:dd-MMM @ h:mmtt}">
    </add>
    <add key="IntraLayout" value="ChartRect=(0,14,-1,-16);Font=(Verdana,8pt,style=Bold);Color=WhiteSmoke;Back=(0,0,0,14);Back=(0,-15,-1,-1);Color=Black;Pos=(0,0);Text=({Name}({Code}));Font=(Verdana,8pt);Pos=(0,-2);Text={Company};Pos=(-1,-2);Text={URL}">
    </add>
    <add key="SmallLayout" value="ChartRect=(0,14,-1,-16);Font=(Verdana,8pt,style=Bold);Color=#F0F0F0;Back=(0,0,0,14);Back=(0,-15,-1,-1);Color=Black;Pos=(0,0);Text=({Name}({Code}));Font=(Verdana,8pt);Pos=(0,-2);Text={URL}">
    </add>
    <add key="LegendLayout" value="ChartRect=(0,14,-110,-1);Font=(Verdana,8pt,style=Bold);Color=#F0F0F0;Back=(0,0,0,14);Back=(-110,0,-1,-1);Color=Black;Pos=(0,0);Text=({Name}({Code}));Pos=(-110,0);Text={D};Color=#888888;Frame=(-101,50,-2,121);Color=#eeeeee;Back=(-101,50,-3,120);Align=Right;Pos=(-100,55);Icon=EnterLong.gif;Pos=(-85,56);Color=Black;Text=Enter Long;Pos=(-100,70);Icon=EnterShort.gif;Pos=(-85,71);Color=Black;Text=Enter Short;Pos=(-100,85);Icon=ExitLong.gif;Pos=(-85,86);Color=Black;Text=Exit Long;Pos=(-100,100);Icon=ExitShort.gif;Pos=(-85,101);Color=Black;Text=Exit Short">
    </add>
    <!-- Prescan options 
    CheckVolume : 0/1
    AvgVolumeDays : days needed to calculate the average volume
    AvgVolume :  Prescan will run on the stocks with Volume>AvgVolume and ignore others
    LastDay: Prescan will run on the stocks with last trading date>Today - LastDay and ignore others
    -->
    <add key="Prescan.CheckVolume" value="0">
    </add>
    <add key="Prescan.AvgVolumeDays" value="20">
    </add>
    <add key="Prescan.AvgVolume" value="100000">
    </add>
    <add key="Prescan.LastDay" value="10000">
    </add>
    <add key="WebTimeout" value="1800">
    </add>
  </appSettings>
  <system.web>
    <!--
	<httpModules>
      <add name="McwytechAuth" type="WebDemos.McwytechAuth,WebDemos" />
    </httpModules>
	<httpModules>
      <add name="NetQuote" type="WebDemos.UpdateModule,WebDemos" />
    </httpModules>
	<httpModules>
      <add name="SmallStocks" type="WebDemos.UpdateSmallStocks,WebDemos" />
    </httpModules>
    -->

    <!-- Some hosting disable the global.asax, Use this instead -->
	<httpModules>
      <add name="StartModule" type="WebDemos.StartModule,WebDemos" />
    </httpModules>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="c#" debug="true" />
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Forms">
      <forms name="efc" path="/" loginUrl="~/Admin/Login.aspx" protection="All" timeout="30">
        <credentials passwordFormat="Clear">
          <user name="1" password="1" />
          <user name="2" password="2" />
        </credentials>
      </forms>
    </authentication>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--
	<identity impersonate="true" userName="fu" password="fu1234" />    
	-->
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="120" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" uiCulture="en" />
  </system.web>
</configuration>